.App {
  text-align: center;
  --shadow: 5px 5px 10px rgba(0,0,0,0.5);
  background-color: white;
  box-shadow: var(--shadow);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.register {
  grid-area: 3 / 1 / 4 / 2;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2px;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 20px 10px 20px 10px;

}
#creditNum {
  grid-area: 1 / 1 / 2 / 6;
}

#cvc {
  grid-area: 2 / 2 / 3 / 4; 
}

#exp {
  grid-area: 2 / 4 / 3 / 6; 
}

#submit {
  grid-area: 3 / 1 / 4 / 6; 
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container {
  max-width: 1170px;
  height: 400px;
  width: 300px;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Content {
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
}
.Headertext {
  grid-area: 1 / 1 / 2 / 3;

  text-align: center;
}
.Header {
  grid-area: 1 / 1 / 2 / 2;
  padding : 10px;
  height: 25px;
  position: relative;  
  align-items: flex-start;
  border-bottom: solid;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.Icon {
  position: fixed;
}
.menuText {
  margin-right: 90px;
}
/* Simple responsive effect */
@media only screen and (max-width: 300px) {
  .Header {
    padding : 10px;
    height: 25px;
    position: relative;  
    border-bottom: solid;
    display: block;
  }
    .Headertext {
      display: none;
    }
    .Icon {
      position: relative;
      text-align: center;  
    }
  }